@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --color-*: initial;
    --font-*: initial;

    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;

    --color-gray-50: #f9fafb;
    --color-gray-900: #111827;
    --color-gray-950: #030712;
}

@utility container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: --spacing(4);
    padding-left: --spacing(4);

    @media (width >= 48rem) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        max-width: 40rem;
    }

    @media (width >= 64rem) {
        max-width: 48rem;
    }
}
