@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/theme */
    --color-*: initial;
    --font-*: initial;

    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;
    --font-mono: "Google Sans Code", monospace;

    --color-gray-50: #f9fafb; /* light bg color, dark text color */
    --color-gray-900: #111827; /* dark bg color */
    --color-gray-950: #030712; /* light text color */

    --color-orange-400: #fb923c; /* dark link color */
    --color-orange-500: #f97316; /* dark hover color */
    --color-orange-700: #c2410c; /* light link color */
    --color-orange-800: #9a3412; /* light hover color */
}

@utility container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: --spacing(4);
    padding-left: --spacing(4);

    @media (width >= 48rem) {
        /* stylelint-disable-next-line no-invalid-position-declaration */
        max-width: 40rem;
    }

    @media (width >= 64rem) {
        max-width: 48rem;
    }
}
