---
import toveImage from "@/assets/404/image.jpeg";
import MainLayout from "@/layouts/MainLayout.astro";
import "@fontsource/google-sans-code/700.css";
import { Image } from "astro:assets";
---

<MainLayout canonicalUrl={null} title="Sivua ei löydy">
    <div class="container my-8 space-y-4 text-center">
        <p class="font-mono text-2xl">404</p>
        <h1 class="font-serif text-5xl font-bold">Sivua ei löydy</h1>
        <p>
            Hakemaasi sivua ei ole olemassa. Palaa <a
                class="text-orange-700 underline hover:text-orange-800 dark:text-orange-400 dark:hover:text-orange-500"
                href="/">etusivulle</a
            >.
        </p>
        <Image
            class="mx-auto my-8 rounded-lg lg:max-w-2/3"
            alt="Welsh corgi pembroke -pentu Tove vauhdissa"
            src={toveImage}
            width={1400}
        />
    </div>
</MainLayout>
