---
import DocsHeader from "@/components/DocsHeader.astro";
import Head from "@/components/Head.astro";
import "@/styles/global.css";
import "@fontsource/inter";
import "@fontsource/playfair-display/700.css";

const head = Astro.props;
---

<!doctype html>
<html class="scheme-light dark:scheme-dark" lang="fi">
    <head>
        <Head {...head} />
    </head>
    <body class="bg-gray-50 font-sans text-gray-950 dark:bg-gray-900 dark:text-gray-50">
        <a class="sr-only focus:not-sr-only" href="#sisalto">Siirry sisältöön</a>
        <DocsHeader />
        <main id="sisalto">
            <slot />
        </main>
        <footer class="container my-8 text-center text-sm">
            <p>
                © 2026 <a
                    class="text-orange-700 underline hover:text-orange-800 dark:text-orange-400 dark:hover:text-orange-500"
                    href="https://www.anttikivi.fi">Antti Kivi</a
                > & Susanna Ranta
            </p>
        </footer>
    </body>
</html>
