---
import "@/styles/global.css";
---

<!doctype html>
<html class="scheme-light dark:scheme-dark" lang="fi">
    <head> </head>
    <body class="bg-gray-50 font-sans text-gray-950 dark:bg-gray-900 dark:text-gray-50"> </body>
</html>
