name: CI

on:
    push:
    pull_request:

concurrency:
    group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: ["24"]
        steps:
            - uses: actions/checkout@v5.0.0
            - uses: actions/setup-node@v6.0.0
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"
            - run: npm ci
            - run: npm run build

    check:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: ["24"]
        steps:
            - uses: actions/checkout@v5.0.0
            - uses: actions/setup-node@v6.0.0
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"
            - run: npm ci
            - run: npm run lint
